{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="foo,bar" />
  <meta name="description" content="foo" />
  <title>
    {% block title %}
    {% endblock title %}
  </title>
  <link rel="stylesheet" href="{% static 'main/css/index.css' %}" />
</head>

<body>
  <header>
    <h1 class="logoText">bakirZon</h1>
    <div class="serchWrrap">
      <div class="serchContainer">
        <input type="text" placeholder="Поиск...">
        <select class="hederCatigory">
          <option value="apple">все катигорий</option>
          <option value="orange">Апельсин</option>
        </select>
        <button class="hederSerchBtn">
          <img src="{% static 'main/imag/icons/search.png'%}" alt="serch">
        </button>
      </div>
      <img src="{% static 'main/imag/icons/menu.png' %}" alt="" class="mobilMenu">
    </div>
    <div class="headerBasketContainer">
      <img src="{% static 'main/imag/icons/likeFalse.png' %}" alt="like" class="iconSize headerLike "">
      <div class=" basketContainer">
      <span class="basketCount">0</span>
      <img src=" {% static 'main/imag/icons/basket.png' %}" alt="basket" class="iconSize basket">
    </div>
    <img src="{% static 'main/imag/icons/bellFalse.png' %}" alt="bell" class="iconSize bell">
    <div>
      <img src="{% static 'main/imag/icons/LoginApp.png' %}" alt="avatar" class="iconSize avatar">
      <img src="{% static 'main/imag/icons/ArrowDown.png' %}" alt="checkmark" class="iconSize checkmark">
    </div>
    </div>
  </header>
  <div class="containerAsideMain">
    <aside class="aside">
      <input class="asideInput" type="text" placeholder="Катигорий..">
      <ul class="asideUl">
        <li>Популярные</li>
        <li>Акций</li>
        <li>Смартфоны</li>
        <li>Телефизоры </li>
        <li>Техника</li>
        <li>Одежды</li>
        <li>Велосипеды</li>
        <li>Игровые приставки</li>
        <li>Машины</li>
        <li>Ноутбуки</li>
        <li>Фотопараты</li>
        <li>Женские одежды </li>
        <li>Зарядные устройства </li>
        <li>Бвтовая техника</li>
        <li>Всё для дома</li>
        <li>Помощь</li>
        <li>О нас</li>
        <li>Контакты</li>
      </ul>
    </aside>
    <main class="defaultmain">
      {% block content %}
      {% endblock content %}
    </main>
  </div>
</body>

</html>